{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="container">
        <div class="row">
            <div class="col justify-content-center">
                <h2>Another test template!</h2>
                <h4>Just to see how single links look in the sidebar menu.</h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}
